.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 0;
}

.messages__scrollableArea {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.messages__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
}

.messages__wrapper:has(.empty) {
    height: 100%;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.messageBlock {
    display: flex;
    gap: 8px;
    padding: 8px;
    width: 100%;
    height: max-content;
}

div:has(img) > img {
    background-color: #9bc644;
}

.messageBlock__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
}

.messageBlock__content > span {
    padding-left: 8px;
    color: #7c9e36;
    font-weight: bold;
    line-height: 16px;
}

.messageBlock__text {
    display: flex;
    padding: 4px 8px;
    width: max-content;
    max-width: min(250px, 46vw);
    border-radius: 0 16px 16px 16px;
    background-color: rgba(155, 198, 68, .4);
    word-wrap: break-word;
}

.messageBlock.user {
    flex-direction: row-reverse;
}

.messageBlock.user div:has(img) img {
    background-color: #a66aba;
}

.messageBlock.user .messageBlock__content {
    align-items: flex-end;

    span {
        color: #a66aba;
    }
}

.messageBlock.user .messageBlock__text {
    border-radius: 16px 0 16px 16px;
    background-color: rgba(166, 106, 186, .4);
    word-wrap: break-word;
}

.newMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;
    height: max-content;
}

.newMessage > button {
    margin-top: auto;
    height: 100%;
    max-height: 60px;
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0.3; }
}

.infoBlock {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    width: 100%;
    height: 30px;
    animation: fadeout 1.5s ease-in-out alternate infinite;
}
